@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap');

:root{
    --fonte-titulo:'Fjalla+One&display';
    --fonte-texto:'Playwrite+DE+SAS';
    --cor-principal:#28836f;
    --cor-secundaria:#10a7cd;
    --cor-destaque:#11c5f6;
    --cor-texto:#f1fefe;
}
